@page "/infos"

<PageTitle>Informations</PageTitle>

<MudText Typo="Typo.h6"><b>HealthCheck</b></MudText>

<UseGetHealthCheck Context="result">
    <ChildContent>
        <p role="status">Status: @result.HealthCheck</p>
    </ChildContent>
    <ErrorContent>
        @result.First().Message
    </ErrorContent>
    <LoadingContent>
        <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="mt-4" />
    </LoadingContent>
</UseGetHealthCheck>
<br>

<MudText Typo="Typo.h6"><b>Feature management</b></MudText>

<UseGetFeatures Context="result">
    <ChildContent>
        <ul>
            @foreach (var item in result.Features)
            {
                <li>@item.Key : @item.Value</li>
            }
        </ul>
    </ChildContent>
    <ErrorContent>
        @result.First().Message
    </ErrorContent>
    <LoadingContent>
        <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="mt-4" />
    </LoadingContent>
</UseGetFeatures>
